output.txt
node_modules
dist
.mastra
.env.development
.env
*.db
*.db-*
.netlify
.vercel
cdk.out
mastra/node_modules

agent/src/mastra/public/workspace/.agents/skills/*
!agent/src/mastra/public/workspace/.agents/skills/pptx/

s3/workspace/skills/*
!s3/workspace/skills/pptx/
!s3/workspace/skills/trouble-shooting/

# dockerテスト時にs3同期されるファイルのgitを無効化
agent/workspace