node_modules
.git
.gitignore
cdk
cdk.out
.mastra
.agents
.gemini
*.db
*.db-shm
*.db-wal
.env
.env.*
.env.development
.env.example
output.txt
dist
.netlify
.vercel
README.md
AGENTS.md
skills-lock.json
public
